/* ========== BODY ========== */
.main-body {
  padding: 60px 10px 80px;
}

.content-body {
  margin: 30px auto 0;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  max-width: 50vw;
  box-sizing: border-box;
  align-items: center;
}

.picture-div {
  border: solid;
  border-color: rgb(197, 0, 80);
  border-radius: 10px;
  padding: 5px;
  margin: 50px auto;
}

@media screen and (max-width: 997px) {
  .content-body {
    max-width: 90vw;
  }
  .picture-div {
    display: flex;
    column-gap: 3px;
    margin: 0 auto 30px auto;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
  }
  .picture1-div, .picture2-div {
    flex: 1;
    min-width: 0;
  }
  .picture1, .picture2 {
    width: 100%;
    height: auto;
  }
}

.picture1-div, .picture2-div {
  display: inline-block;
}
  .picture1 {
    width: 195px;
    border-radius: 10px 0 0 10px;
  }
  .picture2 {
    width: 195px;
    border-radius: 0 10px 10px 0;
  }


.page-description {
  color:rgb(67, 66, 66);
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
  text-wrap: wrap;
  text-align: justify;
}

@media screen and (max-width: 830px) {
  .main-body {
    flex-direction: column;
    align-items: center;
  }
  .content-body {
    max-width: 95vw;
    margin: 30px auto 0;
  }
  .picture-div {
    max-width: 90vw;
  }
}

