/* ========== BODY ========== */
.main-body {
  padding: 40px 20px;
}

.content-body {
  padding: 40px 0;
  display: flex;
}

.content-body p {
  margin: 0;
}

.contact-logos {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0;
}

.kingschat-logo, .instagram-logo {
  width: 60px;
  display: inline-block;
  vertical-align: middle;
}

.kingschat-logo img, .instagram-logo img {
  width: 100%;
  border-radius: 20px;
}

.kingschat-username, .instagram-username {
  flex: 1;
  font-size: 25px;
  font-weight: bold;
  color: rgb(66, 65, 65);
  display: inline-block;
}

@media screen and (min-width: 830px) {
  .main-body {
    padding: 100px 20px;
  }

  .contact-logos {
    flex: 1;
    margin-top: 2vw;
  }
}
