

/*  BODY  */
.main-body {
  padding: 30px 10px;
  justify-content: center;
}

.content-body {
  padding-top: 50px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  h3 {
    margin: 0px;
  }

/* = PICTURE BOARD SECTION =*/

.picture-board {
  display: flex;
  column-gap: 7px;
  row-gap: 30px;
  margin: 0 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.grid-div {
  width: 290px;
  border: solid;
  border-color: rgb(210, 3, 86);
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

  .main-photo {
    object-fit: contain;
    width: 100%;
    height: 200px;

  }

  .photo {
    width: 100%;
    height: 100%;
  }

  .picture-details {
    padding: 5px 0 0 20px;


  }

  body.dark-mode .picture-details {
    background-color: rgb(197, 0, 80);
  }

  .details-div {
    width: 255px;
    display: inline-block;
    margin-left: 0px;
  }

    .details {
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .location-name, .camera-name {
      color: rgb(70, 69, 69);
      font-size: 14px;
      margin-top: 0;
    }

    .location-icon-div {
      display: inline-block;
      vertical-align: middle;
      margin-left: 2px;
      margin-right: 6px;
    }
    .location-icon {
      width: 15px;
      margin-right: 2px;
    }

    .location-name-div {
      display: inline-block;
    }
    
    .location-name {
      margin-bottom: 0;
      margin-bottom: 5px;
    }

    .camera-icon-div {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    .camera-name-div {
      display: inline-block;
    }

.page-description-div {
  display: flex;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.top-btn {
  display: inline-block;
  padding: 8px 15px;
  background: rgb(197, 0, 80);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.top-btn:hover {
  scale: 1.02;
}
