

/*  BODY  */
.main-body {
  padding: 30px 10px;
  justify-content: center;
}

.content-body {
  padding-top: 50px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  h3 {
    margin: 0px;
  }

/* = PICTURE BOARD SECTION =*/

.picture-board {
  display: flex;
  column-gap: 7px;
  row-gap: 30px;
  margin: 0 10px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.grid-div {
  width: 290px;
  border: solid;
  border-color: rgb(197, 0, 80);
  border-width: 2px;
  border-radius: 5px;
}

  .main-photo {
    object-fit: contain;
    width: 100%;
    height: 200px;

  }

  .photo {
    width: 100%;
    height: 100%;
  }

  .picture-details {
    padding: 5px 0 0 20px;


  }

  body.dark-mode .picture-details {
    background-color: rgba(14, 39, 61, 0.8);
  }

  .channel-details {
    width: 255px;
    display: inline-block;
    margin-left: 0px;
  }

    .text1 {
      margin-top: 0;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .text2, .text3 {
      color: grey;
      font-size: 14px;
      margin-top: 0;
    }

    .location-icon-div {
      display: inline-block;
      vertical-align: middle;
    }
    .location-icon {
      width: 15px;
      margin-right: 2px;
    }

    .text2-div {
      display: inline-block;
    }
    .text2 {
      margin-bottom: 0;
      margin-bottom: 5px;
    }

    .camera-icon-div {
      display: inline-block;
      vertical-align: middle;
    }
    .camera-icon {
      width: 15px;
      margin-top: 1px;
      margin-right: 2px;
    }
    .text3-div {
      display: inline-block;
    }
    .text3 {
      font-size: 12px;
    }

.page-description-div {
  display: flex;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

  /* Toggle: when checkbox is checked, show vertical dropdown */

@media screen and (max-width: 900px) {
  #menu-toggle:checked ~ header .right-header-menu {
    flex-direction: row;
    top: 67px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: 10px;
  }

  /* Also show middle header links */
  #menu-toggle:checked ~ header .middle-header {
    flex-direction: row;
    top: 67px;
    left: 300px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 10px;
  }

  /* Push content down */
  #menu-toggle:checked ~ main {
    margin-top: 30px;
    transition: 0.5s ease-in;
  }
}

@media screen and (max-width: 640px) {
  #menu-toggle:checked ~ header .right-header-menu,
  #menu-toggle:checked ~ header .middle-header {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 20px;
    border-bottom: none;
    background-color: transparent;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    
    /* Delay appearance of toggled menu so it doesn't overlap h1 */
    animation: fadeInDown 0.3s ease 0.3s forwards;
    opacity: 0;
  }

  @keyframes fadeInDown {
    to {
      opacity: 1;
    }
  }

  /* Toggle: when checkbox is checked, show vertical dropdown */
  #menu-toggle:checked ~ header .right-header-menu {
    position: absolute;
    top: 70px;
    left:55px;
    border-bottom-left-radius: 0;
  }

  /* Also show middle header links */
  #menu-toggle:checked ~ header .middle-header {
    position: absolute;
    top: 192px;
    left: 55px;
    padding-right: 31px;
  }

    /* Push content down */
  #menu-toggle:checked ~ main {
    margin-top: 200px;
    transition: margin-top 0.5s ease-in;
  }

  /* Push content up */
  #menu-toggle:not(checked) ~ main {
    margin-top: 0;
    transition: margin-top 0.7s ease-out;
  }

  .highlight:hover, .about:hover,
  .contact:hover, .photos:hover,
  .videos:hover {
    color: rgb(197, 0, 80);
    scale: 1.06;
  }

  .highlight:active, .about:active,
  .contact:active, .photos:active,
  .videos:active {
    font-weight: bold;
  }  

  /* Push content down */
  #menu-toggle:checked ~ main {
    margin-top: 190px;
  }
}

.top-btn {
  display: inline-block;
  padding: 8px 15px;
  background: rgb(197, 0, 80);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}
.top-btn:hover {
  scale: 1.02;
}
