

/* ========== BODY ========== */
.main-body {
  padding: 90px 10px;
  justify-content: center;
}

.content-body {
  padding: 0;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: clamp(1.15rem, 2vw, 2rem);
  transition: 0.5s ease;
}

/* = VIDEO BOARD SECTION = */

.video-board {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 30px;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.flex-div {
  width: 100%;
  max-width: 400px;
  border: solid;
  border-color: rgb(197, 0, 80);
  border-width: 3px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

  .vd {
    width: 400px;
  }
  
  .photo {
    width: 100%;
    height: 100%;
  }

  .picture-details {
    margin-top: 5px;
  }

  .pp {
    width: 40px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
  }
    .profile-pix {
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }

  .details-div {
    width: 340px;
    display: inline-block;
    margin-left: 5px;
  }

    .details {
      margin-top: 0;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .location-name, .video-camera-name, .time {
      color: grey;
      font-size: 14px;
      margin-top: 0;
    }

    .location-icon-div {
      display: inline-block;
      margin-right: 8px;
      margin-left: 2px;
      margin-bottom: 5px;
    }

    .location-name-div {
      display: inline-block;
    }
    .location-name {
      margin-bottom: 0px;
    }

    .camera-icon-div {
      display: inline-block;
      margin-right: 5px;
    }
    .camera-icon {
      width: 25px;
      margin-top: 1px;
    }
    .video-camera-name-div {
      display: inline-block;
    }
    .video-camera-name {
      margin-left: 0px;
    }

    .clock-icon-div {
      display: inline-block;
      margin-right: 3px;
    }

    .time-div {
      display: inline-block;
    }
    .time {
      font-size: 15px;
      margin-bottom: 5px;
      margin-left: 3px;
    }
video {
  z-index: 0;
}

.vd {
  max-width: 400px;
}  
