

/* ========== BODY ========== */
.main-body {
  padding: 90px 10px;
  justify-content: center;
}

.content-body {
  padding: 0;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  font-size: clamp(1.15rem, 2vw, 2rem);
  transition: 0.5s ease;
}

/* = VIDEO BOARD SECTION = */

.video-board {
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 30px;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.flex-div {
  width: 100%;
  max-width: 400px;
  border: solid;
  border-color: rgb(197, 0, 80);
  border-width: 3px;
  border-radius: 5px;
}

  .vd {
    width: 400px;
  }
  
  .photo {
    width: 100%;
    height: 100%;
  }

  .picture-details {
    margin-top: 5px;
  }

  .pp {
    width: 40px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
  }
    .profile-pix {
      width: 40px;
      height: 40px;
      border-radius: 30px;
    }

  .channel-details {
    width: 340px;
    display: inline-block;
    margin-left: 5px;
  }

    .text1 {
      margin-top: 0;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .text2, .text3, .text4 {
      color: grey;
      font-size: 14px;
      margin-top: 0;
    }

    .location-icon-div {
      display: inline-block;
      vertical-align: middle;
    }
    .location-icon {
      width: 20px;
      margin-right: 4px;
    }

    .text2-div {
      display: inline-block;
    }
    .text2 {
      margin-bottom: 0px;
    }

    .camera-icon-div {
      display: inline-block;
      vertical-align: middle;
    }
    .camera-icon {
      width: 25px;
      margin-top: 1px;
    }
    .text3-div {
      display: inline-block;
    }
    .text3 {
      margin-left: 0px;
    }

    .clock-icon-div {
      display: inline-block;
      vertical-align: middle;
    }
    .clock-icon {
      width: 20px;
      margin-right: 2px;
    }

    .text4-div {
      display: inline-block;
    }
    .text4 {
      font-size: 16px;
      margin-bottom: 5px;
      margin-left: 3px;
    }
video {
  z-index: 0;
}

/* ========== RESPONSIVE MENUS ========== */

  /* Toggle: when checkbox is checked, show vertical dropdown */

@media screen and (max-width: 900px) {
  #menu-toggle:checked ~ header .right-header-menu {
    flex-direction: row;
    top: 67px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: 10px;
  }

  /* Also show middle header links */
  #menu-toggle:checked ~ header .middle-header {
    flex-direction: row;
    top: 67px;
    left: 300px;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    background-color: white;
    padding: 15px;
    border-bottom-right-radius: 10px;
  }

  /* Push content down */
  #menu-toggle:checked ~ main {
    margin-top: 30px;
    transition: 0.5s ease-in;
  }
}

@media screen and (max-width: 640px) {
  #menu-toggle:checked ~ header .right-header-menu,
  #menu-toggle:checked ~ header .middle-header {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    gap: 20px;
    border-bottom: none;
    background-color: transparent;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    
    /* Delay appearance of toggled menu so it doesn't overlap h1 */
    animation: fadeInDown 0.3s ease 0.3s forwards;
    opacity: 0;
  }

  @keyframes fadeInDown {
    to {
      opacity: 1;
    }
  }

  /* Toggle: when checkbox is checked, show vertical dropdown */
  #menu-toggle:checked ~ header .right-header-menu {
    position: absolute;
    top: 70px;
    left:55px;
    border-bottom-left-radius: 0;
  }

  /* Also show middle header links */
  #menu-toggle:checked ~ header .middle-header {
    position: absolute;
    top: 192px;
    left: 55px;
    padding-right: 31px;
  }

    /* Push content down */
  #menu-toggle:checked ~ main {
    margin-top: 200px;
    transition: margin-top 0.5s ease-in;
  }

  /* Push content up */
  #menu-toggle:not(checked) ~ main {
    margin-top: 0;
    transition: margin-top 0.7s ease-out;
  }

  .highlight:hover, .about:hover,
  .contact:hover, .photos:hover,
  .videos:hover {
    color: rgb(197, 0, 80);
    scale: 1.06;
  }

  .highlight:active, .about:active,
  .contact:active, .photos:active,
  .videos:active {
    font-weight: bold;
  }  

  /* Push content down */
  #menu-toggle:checked ~ main {
    margin-top: 180px;
  }

  .vd {
    max-width: 400px;
  }
}
  
